body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

/* .profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  /* -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
} */

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

/* Profile Content */
.content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/* nav links */
.nav-link{
  color: #5a7391;
}

.nav-link:hover{
  color: black;
}

.nav-item:first-of-type{
  margin-top: 30px;
}

.nav-item:hover{
  background-color: #fafcfd;
}

.nav .nav-item {
  border-bottom: 1px solid #f0f4f7;
}

.nav-item:last-of-type{
  border-bottom: none;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}


/* content */
@media (max-width: 767.99px) {
  .contentHolder{
    padding-top:50px;
  }

  .namedNav{
    display: none;
  }

  .card:first-of-type{
      margin-left: 0;
  }

  .card:not(:first-of-type){
    margin-left: 0;
    margin-top: 2em;
  }
}

a h4{
  display: inline;
}

/* main */
.post-date{
  font-size: 0.7em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.post-title{
  font-weight: bold;
  color: #5a7391;
}

.card{
  background: #F1F3FA;
  margin-left: 2em;
  padding-top: 1em;
}

.card-title{
  text-align: center;
  color: #5a7391;
}
/* affect only elements that are higher in count than 3 */
.card:nth-child(n+3){
  margin-top: 2em;
}

.fa{
  min-width: 30px;
  text-align: center;
}

.center{
  text-align: center;
}

/* login */
@media (min-width: 767.99px) {
  .loginBox{
    margin-top: 15%;
    background: white;
    border-radius: 10px;

  }
}
